/* 共通 */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #333;
  display: block;
}

a a:hover {
  opacity: .4;
}

.x-large {
  font-size: 3rem;
}

.large {
  font-size: 2.5rem;
}

.medium {
  font-size: 2rem;
}

/* ヘッダー */
.header {
  height: 8rem;
  padding: 1rem;
}

.navbar {
  display: flex;
}

.header-right {
  margin-left: auto;
  display: flex;
}

.header-right a {
  margin: 2rem;
}

/* フッター */
.footer {
  text-align: center;
  padding: 2rem;
}

/* ヘッダーレスポンシブ対応 */
@media (max-width: 768px) {
  .logo{
    display:flex;
    justify-content: center;
  }
  .navbar {
    display:block ;
    background-color:rgb(255, 255, 255);
  }
  .header-right{
    justify-content: center;
  }
  .header-right a {
    white-space: nowrap;
  }

}