/* 共通 */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #333;
  display: block;
}

a a:hover {
  opacity: .4;
}

.x-large {
  font-size: 3rem;
}

.large {
  font-size: 2.5rem;
}

.medium {
  font-size: 2rem;
}

.main{
  transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
.main.open {
  transform: translateY(15%);
}

/* ヘッダー */

.navbar {
  display: flex;
}



.hamburger-menu{
  margin-left: auto;
  margin-right:5px;
  position:relative;
}

.header-right{
  position:absolute;
}

.header-right a {
  margin: 2rem;
}

.menu-btn {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
/* フッター */
.footer {
  text-align: center;
  padding: 2rem;
}

/* ヘッダーレスポンシブ対応 */
@media (max-width: 768px) {
  .logo{
    display:flex;
    justify-content: center;
  }

  .logo img{
    width: 100%;
  }

  .header-right{
    justify-content: center;
  }
  .header-right a {
    white-space: nowrap;
  }

}