/* 共通 */
.small {
  font-size: 1.5rem;
}

.x-small {
  font-size: 1.3rem;
}



/* メイン */
.main {
  background-color: #FFF8F9;
  max-width: 100%;
}

.top-section {
  position: relative;
  background-image: url("/images/trucks/hero2.jpg");
  background-color: #BBBBBB;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  height: 33rem;
}

.top-section-items {
  position: absolute;
  right: 4%;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  border-radius: 2rem;
  padding: 4rem 3rem;
  margin-left: 2rem;
}

.top-section-items h1 {
  color: red;
}

.top-section-items p {
  color: #FFFFFF;
  margin-top: 2rem;
}

.top-section-buttons {
  margin-top: 2rem;
  text-align: center;
  display: flex;
}

.top-section-buttons a:first-child {
  margin-right: 4rem;
}

.stores {
  margin-top: 4rem;
}

.stores-close {
  margin-top: 20rem;
}

.stores-title {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.stores-title::before,
.stores-title::after {
  content: "";
  flex-grow: 1;
  border-bottom: 0.1rem solid black;
}

.stores-title::before {
  margin-right: 4rem;
  padding-left: 1.5rem;
}

.stores-title::after {
  margin-left: 4rem;
  padding-right: 1.5rem;
}

.stores-items {
  margin-top: 3rem;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem 5rem;
}

.stores-item-image {
  width: 100%;
  position: relative;
  padding-top: 75%;
}

.stores-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.stores-item p {
  text-align: center;
  margin-top: 1rem;
}

.pager {
  padding-bottom: auto 5rem;
  text-align: center;
}

@media (max-width: 768px) {

  .stores-items {
    margin-top: 3rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 2rem;
  }

  .top-section-buttons img {
    width: 100%;
  }


}

@media (max-width: 425px) {
  .stores-items {
    margin-top: 3rem;
    padding: 0 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem 5rem;
  }

    .top-section-items {
      bottom: 5%;
    }
}