@media (max-width: 2560px) {
  * {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
  }

  .container {

    background-color: white;
    max-width: 60%;
    margin: 10px auto 50px;
    padding-bottom: 1%;
    opacity: 0.95;
    border-radius: 6rem;
    
  }

  .y {
    background-color: #FFF8F9;
    padding: 50px 0 200px;
    margin-top: 20px;
  }

  .Withdrawal {
    font-size: 3rem;
    margin-top: 50px;

  }

  .Withdrawal2 {
    font-size: 5rem;
    margin-top: 20px;
  }

  .row {
    padding: 50px 50px 100px 50px;
    text-align: center;
  }



  .yes {
    padding: 13px 50px;
    margin: 0 3rem;
    border-radius: 1.5rem;
    font-size: 4rem;
    background-color: #2F3F93;
    color: white;
    border: none;
  }

  .no {
    padding: 5px 40px;
    cursor: default;
    background-color: #E43F3F;
    border-radius: 1.5rem;
    font-size: 4rem;
    color: white;
    border: none;
   text-decoration: none;
   text-align: center;
   line-height: 75px;
   white-space: nowrap;
  }

  .button {
    margin: 0 auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
    max-width: 100%;
    display: flex;
   align-items: center; 
   justify-content: center;
  }

  .header a {
    color: black;
    text-decoration: none;
  }
}


@media (max-width: 1440px) {
  * {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
  }

  .container {

    background-color: white;
    max-width: 90%;
    margin: 10px auto 50px;
    padding-bottom: 1%;
    opacity: 0.95;
    border-radius: 6rem;
    
  }

  .y {
    background-color: #FFF8F9;
    padding: 50px 0 200px;
    margin-top: 20px;
  }

  .Withdrawal {
    font-size: 3rem;
    margin-top: 50px;

  }

  .Withdrawal2 {
    font-size: 5rem;
    margin-top: 20px;
  }

  .row {
    padding: 50px 50px 100px 50px;
    text-align: center;
  }



  .yes {
    padding: 13px 60px;
    margin: 0 3rem;
    border-radius: 1.5rem;
    font-size: 4rem;
    background-color: #2F3F93;
    color: white;
    border: none;
  }

  .no {
    padding: 5px 50px;
    cursor: default;
    background-color: #E43F3F;
    border-radius: 1.5rem;
    font-size: 4rem;
    color: white;
    border: none;
   text-decoration: none;
   text-align: center;
   line-height: 75px;
   white-space: nowrap;
  }

  .button {
    margin: 0 auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
    max-width: 100%;
    display: flex;
   align-items: center; 
   justify-content: center;
  }

  .header a {
    color: black;
    text-decoration: none;
  }
}

@media screen and (max-width: 840px) {

 
  * {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
  }

  .container {

    background-color: white;
    max-width: 80%;
    margin: 10px auto 50px;
    padding-bottom: 1%;
    opacity: 0.95;
    border-radius: 6rem;

  }

  .y {
    background-color: #FFF8F9;
    padding: 5px;
    margin-top: 20px;
  }

  .Withdrawal {
    font-size: 1.5rem;
    margin-top: 50px;

  }

  .Withdrawal2 {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .row {
    padding: 50px 50px 100px;
  }



  .yes {
    padding: 15px 30px;
    border-radius: 1.5rem;
    font-size: 2rem;
    background-color: #2F3F93;
    color: white;
    border: none;
    white-space: nowrap;
  }

  
    
    .no {
      padding: 4px 20px;
      cursor: default;
      background-color: #E43F3F;
      border-radius: 1.5rem;
      font-size: 2rem;
      color: white;
      border: none;
     text-decoration: none;
     text-align: center;
     line-height: 50px;
     white-space: nowrap;
  }

  .button {

    margin: 0 auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .header a {
    color: black;
    text-decoration: none;
  }
}


/* スマホ用 */
@media (max-width: 414.9px) {

  /* 414px以下の画面幅に適用されるスタイル */
  * {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
  }

  .container {

    background-color: white;
    max-width: 90%;
    margin: 0 auto 100px;
    padding-bottom: 1rem;
    opacity: 0.95;
    border-radius: 6rem;

  }

  .y {
    background-color: #FFF8F9;
    padding: 5px;
    margin-top: 20px;
  }

  .Withdrawal {
    font-size: 1rem;
    margin-top: 50px;
    

  }

  .Withdrawal2 {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .row {
    padding: 50px 50px;
  }


  .yes {
    padding: 13px 19px;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    background-color: #2F3F93;
    color: white;
    border: none;
    white-space: nowrap;
  }

  
    .no {
      padding: 1px 12px;
      cursor: default;
      background-color: #E43F3F;
      border-radius: 1.5rem;
      font-size: 1.5rem;
      color: white;
      border: none;
     text-decoration: none;
     text-align: center;
     line-height: 50px;
     white-space: nowrap;
  }

  .button {
    padding-bottom: 5rem;
    padding-top: 5rem;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
       
  }

  .header a {
    color: black;
    text-decoration: none;
  }
}