.button {
  padding: 1rem 3rem;
  border-radius: 999.9rem;
  border: none;
  background-color: rgb(157, 148, 237);
  color: white;
  font-size: 2rem;
}

@media (min-width: 835px) {

* {
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 100%;
}

.y {
background-color: #FFF8F9;
width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 2%;
}
.row {
background-color: white;
border-radius: 6rem;
width: 668px;
height: 87px;
padding: 10px;
display: flex;
justify-content: center;

}

.Withdrawal {
  font-size: 3.5rem;
  padding-top: 20px;
  padding-left: 20px;
}

.top {
  padding-bottom: 170px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
}

/* タブレット用 */
@media screen and (min-width: 415px) and (max-width: 834px) {

  /* 834px以下の画面幅に適用されるスタイル */
  * {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
  }
  
  .y {
  background-color: #FFF8F9;
  width: 100%;
  
  }
  
  .container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 2%;
  }
  .row {
  background-color: white;
  border-radius: 6rem;
  width: 80%;
  height: 87px;
  padding: 10px;
  display: flex;
  justify-content: center;
  }
  
  .Withdrawal {
    font-size: 3.5rem;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .top {
    padding-bottom: 170px;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  }

  /* スマホ用 */
@media (max-width: 414.9px) {

  /* 414px以下の画面幅に適用されるスタイル */
  * {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
  }
  
  .y {
  background-color: #FFF8F9;
  width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 2%;
  }
  .row {
  background-color: white;
  border-radius: 6rem;
  width: 80%;
  height: 87px;
  padding: 10px;
  display: flex;
  justify-content: center;
  }
  
  .Withdrawal {
    font-size: 3.5rem;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .top {
    padding-bottom: 170px;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  }