* {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {

  background-color: white;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 1%;
  opacity: 0.95;
  border-radius: 6rem;
}

.y {
  background-color: #FFF8F9;
  padding: 5px;
}

.Withdrawal {
  font-size: 1.3rem;
  margin-top: 50px;

}

.Withdrawal2 {
  font-size: 3rem;
  margin-top: 20px;
}

.row {
  padding: 50px 50px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}

.yes {
  margin: 0 50px 0 0;
  width: 161px;
  height: 50px;
  background-color: #2F3F93;
  border-radius: 2rem;
  font-size: 3.2rem;
  color: white;
  border: none;
}

.no {
  margin: 0 0 0 50px;
  width: 161px;
  height: 50px;
  background-color: #E43F3F;
  border-radius: 2rem;
  font-size: 3.2rem;
  color: white;
  border: none;
}