
  .imag-car {
    background-image: url(../images/trucks/truck9.jpg);
    background-size: cover;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: 0 -200px;
  }
  
.form-group {
  font-size: ;
}