* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  max-height: 100%;
}

.panel-heading {
  font-size: 4rem;
  font-family: Courier;
  text-align: center;
  padding-top: 5rem;

}

.form-group {
  max-width: 45.6rem;
  margin: 5rem auto;

}

.form-control {
  border-radius: 999rem;
  width: 45.6rem;
  height: 5rem;
  background-color: rgb(219, 222, 222);
  border: none;
 
}

.about {
  font-size: 2rem;

}



.imag-car {
  background-image: url(../images/trucks/truck5.jpg);
  background-size: cover;
  max-height: 100%;
  background-repeat: no-repeat;
  
}

.text-right {
  text-align: center;
  padding-bottom: 10rem;
}

.container {
  color: rgb(238, 41, 41);
  background-color: white;
  max-width: 64.3rem;
  margin: 0 auto;
max-height: 100%;

}

.text-right {
  margin-top: 5rem;
}

.btn-primary {
  padding: 2rem 7rem;
  border-radius: 999.9rem;
  border: none;
  background-color: rgb(238, 41, 41);
  color: white;
  font-size: 2rem;
 
}