/* 共通 */
h2,
h3 {
  font-size: 4rem;
  margin: 5rem 0 2rem 3rem;

}

.label {
  font-size: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-right: 2rem;
  background-color: #CCCCCC;
  cursor: pointer;
  width: 20rem;
}

button {
  display: none;
}

input[type="text"] {
  border-radius: 2rem;
  width: 100%;
  font-size: 3rem;
  padding: 0 2rem;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

button {
  font-size: 2rem;
}

textarea {
  border-radius: 2rem;
  width: 100%;
  font-size: 3rem;
  padding: 2rem;
}

.top-title {
  font-size: 5rem;
  margin: 5rem 0 0 5rem;
}

.validation{
    background-color: #d14646;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 10px 0;
}

.small {
  font-size: 1.5rem;
}

.x-small {
  font-size: 1.3rem;
}

/*メイン*/
.inner-top {
  margin: 8rem 15%;
}

.inner-middle {
  margin: 8rem 12%;
}

.inner-bottom {
  margin: 8rem 8%;
}

.inner-menu {
  margin: 1rem 15rem;
}

.store-figure {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  border-radius: 2rem;
}

.for-button {
  text-align: right;
  margin-top: 3rem;
}

.stores-items {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem 5rem;
}

.stores-item {
  position: relative;
}

.store-figure-display {
  width: 100%;
  position: relative;
  padding-top: 75%;
}

.menu-title,
.menu-price,
.menu-text {
  font-size: 2rem;
}

.menu-title {
  margin-top: 2rem;
}

.menu-price {
  margin-top: 2rem;
}

.menu-text {
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.menu-delete {
  text-align: right;
  margin-top: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.inner-add-menu {
  border: solid 0.3rem;
  border-radius: 2rem;
  padding: 0 15rem 5rem 15rem;
}

.add-menu-price {
  width: 50%;
  display: flex;
  font-size: 3rem;
  align-items: center;
  gap: 1rem;
}

.register-button {
  margin-top: 10rem;
}

.register-button label {
  font-size: 5rem;
}

.add-menu-image-label-none {
  display: none;
}

@media (max-width: 768px) {
  .validation {
      font-size: 1.5rem;
    }

  .stores-items {
    grid-template-columns: 1fr 1fr;
    gap: 5rem 2rem;
  }

  .top-section-buttons img {
    width: 100%;
  }

  .inner-top {
    margin: 8rem 2rem;
  }

  .inner-middle {
    margin: 8rem 2rem;
  }

  .inner-bottom {
    margin: 8rem 2rem;
  }
  
  .inner-menu {
    margin: 1rem 50rem;
  }
  
  .inner-add-menu {
    padding: 0 5rem 5rem 5rem;
  }
  .add-menu-price {
    width: 60%;
    font-size: 2rem;
  }
  textarea {
    font-size: 2rem;
  }
  input[type="text"] {
    font-size: 2rem;
  }
  
    .register-button label {
      font-size: 3rem;
    }
    h2,
    h3 {
      font-size: 3rem;
      margin: 5rem 0 2rem 3rem;
      
    }
}

@media (max-width: 425px) {
  .top-title {
    font-size: 4rem;
    margin: 5rem 0 0 0;
    text-align: center;
  }
  
  .stores-items {
    grid-template-columns: 1fr;
  }

  .register-button {
    margin-top: 5rem;
  }

  .inner-add-menu {
    padding: 0 2rem 5rem 2rem;
  }

}